.input-center {
	margin: 0 auto;
	text-align: center;
}

.rounded {
	border-radius: 4px;
}

.header {
	padding: 20px;
	box-sizing: border-box;
}

.search-result {
	cursor: pointer;
	padding: 20px;
	box-sizing: border-box;
}

.additional-info {
	padding: 0 18px;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.4s ease-out;
}

.show {
	max-height: 280px;
	transition: max-height 0.4s ease-out;
}

#search-results {
	padding-bottom: 30px;
}

.tag:after {
	content: '+';
	font-weight: 700;
}

.active .tag:after {
	content: ' ';
}

.active .tag:before {
	content: '\2012';
	font-weight: 700;
}
