.go-center {
  margin: 0 auto;
  text-align: center;
}
.rounded {
  border-radius: 4px;
}

.search-result {
  cursor: pointer;
}

.head {
  padding: 20px;
  box-sizing: border-box;
}

.search-item {
  padding: 20px;
  box-sizing: border-box;
}

.panel {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.output {
  padding-bottom: 30px;
}
